<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring">
    <output-path>$PROJECT_DIR$/out/artifacts/spring</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="olstat" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.springframework:spring-core:4.1.5.RELEASE" />
          <element id="library" level="project" name="Maven: commons-logging:commons-logging:1.2" />
          <element id="library" level="project" name="Maven: org.springframework:spring-web:4.1.5.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:4.1.5.RELEASE" />
          <element id="library" level="project" name="Maven: aopalliance:aopalliance:1.0" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:4.1.5.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context:4.1.5.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-webmvc:4.1.5.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:4.1.5.RELEASE" />
          <element id="library" level="project" name="Maven: org.glassfish:javax.faces:2.2.10" />
          <element id="library" level="project" name="Maven: javax.inject:javax.inject:1" />
          <element id="library" level="project" name="Maven: javax.servlet:jstl:1.2" />
          <element id="library" level="project" name="Maven: javax.servlet:servlet-api:2.5" />
          <element id="library" level="project" name="Maven: org.primefaces:primefaces:5.2" />
          <element id="library" level="project" name="Maven: net.joelinn:riot:0.2.1" />
          <element id="library" level="project" name="Maven: com.robrua:orianna:2.4.6" />
          <element id="library" level="project" name="Maven: com.github.rithms:riot-api-java:v3.9.0" />
          <element id="library" level="project" name="Maven: com.google.code.gson:gson:2.8.0" />
          <element id="library" level="project" name="Maven: org.apache.httpcomponents:httpclient:4.5.3" />
          <element id="library" level="project" name="Maven: org.apache.httpcomponents:httpcore:4.4.6" />
          <element id="library" level="project" name="Maven: org.apache.httpcomponents:httpmime:4.5.3" />
          <element id="library" level="project" name="Maven: org.apache.httpcomponents:fluent-hc:4.5.3" />
          <element id="library" level="project" name="Maven: org.apache.httpcomponents:httpclient-cache:4.5.3" />
          <element id="library" level="project" name="Maven: org.omnifaces:omnifaces:1.14" />
        </element>
      </element>
      <element id="javaee-facet-resources" facet="olstat/web/Web" />
    </root>
  </artifact>
</component>